@charset "UTF-8";

@font-face {
	src: url("/banking/resources/css/Jalnan.ttf");
	font-family: "Jalnan";
}

.gnb ul li a {
	line-height: 70px;
	font-size: 20px;
	color: white;
	font-family: "Jalnan";
}

section {
	height: 100%;
	overflow: hidden;
}

section.login-section {
	display: flex;
	align-items: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 700px;
	margin: 0 auto;
	align-items: center;
}
.container.login-container {
	height: 70%;
	box-shadow: 8px 5px 5px 10px #f1f1f1;
}

.container .title-wrap {
	width: 100%;
	line-height: 60px;
	padding-top: 150px;
	text-align: center;
}

.container .title-wrap .title {
	display: inline-block;
	height: 100%;
	font-size: 36px;
	text-align: center;
	padding: 0 8px;
	position: relative;
	font-family: "Jalnan";
}

.container .title-wrap .title:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 14px;
	bottom: 7px;
	left: 0;
	z-index: -1;
	background: #EDE6DB;
}

.container>.form-wrap {
	display: flex;
	height: 100%;
	align-items: flex-start;
	width: 100%;
}

.form-wrap> .login {
	width: 100%;
}

.content {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.content>input {
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	width: 60%;
	height: 50px;
	font-size: 15px;
}

.content>input:focus {
	outline: none;
	border-color: rgba(201, 187, 207, .6);
	box-shadow: 0 0 6px 2px rgba(201, 187, 207, .6);
}

.container > .content-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 100%;
    padding: 0 80px;
    flex-wrap: wrap;
 }
.container > #content-wrapper {
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 100%;
    padding: 0 80px;
    flex-wrap: wrap;
 }

.content {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-family: "Jalnan";
}

.content h4 {
	font-size: 18px;
}

.add_user {
	padding-top: 20px;
	width: 100%;
}

.add {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 10px;
}

.phone {
	height: 60px;
	flex-wrap: wrap;
}

.add>input {
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding-left: 15px;
	font-size: 16px;
	font-family: "Jalnan";
}

.add>input:focus {
	outline: none;
	border-color: rgba(201, 187, 207, .6);
	box-shadow: 0 0 6px 2px rgba(201, 187, 207, .6);
}



span.phoneNum_middle {
	margin: 0 5px;
}

span.phone {
	margin-top: 5px;
	display: block;
	text-align: right;
	font-size: 13px;
	color: red;
	margin-left: 15px;
	width: 100%;
}

.address1 {
	width: 250px;
	margin-right: 10px;
}
.user {
	width :100%;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	text-align: center;
	font-family: "Jalnan";
}
.userId {
	font-size: 22px;
	margin-right: 6px;
	color: #898AA6;
}

.btn-group {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	justify-content: center;
}

.i-btn {
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 60%;
}

.i-btn>input {
	justify-content: center;
	border-style: none;
	font-size: 20px;
	background: #C9BBCF;
	color: white;
	border-radius: 30px;
	width: 150px;
	height: 50px;
	cursor: pointer;
}

.i-btn>.in-btn {
	font-size: 20px;
	background: #C9BBCF;
	color: white;
	border-radius: 30px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "Jalnan";
}

.i-btn>.in-btn:hover {
	font-weight: normal;
}
.i-btn.btnmenuwrap {
	width: 100%;	
	margin-top: 30px;
}
.i-btn > .in-btn.menulist {
	font-size: 22px;
	width: 200px;
	height: 60px;
	line-height: 60px;
	letter-spacing: 0.3rem;
}

.i-btn > .in-btn.check {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}

/*
	계좌리스트 확인 페이지
*/
.accountListCheck  .i-btn.check{
	margin: 0 auto;
}
.content.checkList {
	height: 100%;
	align-items: flex-start;
}
.content.checkList > table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.content.checkList > table tr {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
}
.content.checkList > table tr td,th {
	border: 1px solid #000;
}
.content.checkList > table tr th {
	color: white;
	background: #C9BBCF;
}

/*
	통장 개설페이지
*/
.content.account {
	height: 100%;
	align-items: flex-start;
	margin-top: 45px;
}
.add>select.account_selec:focus {
	outline: none;
	border-color: rgba(201, 187, 207, .6);
	box-shadow: 0 0 6px 2px rgba(201, 187, 207, .6);
}

select.account_selec {
	height: 45px;
	width: 100%;
	padding-left: 10px;
}
select.account_selec, select.account_selec option {
	font-family: "Jalnan";
	font-size: 16px;
}
.i-btn.account {
	width: 100%;
	margin-top: 25px;
}
/*
	계좌이체 페이지
*/
.content.account.balance_check {
	flex-wrap: wrap;
}
.content.balance_check {
	height: 100%;
	align-items: flex-start;
}
.content.balance_check.accountNum{
	flex-wrap : wrap;
	height: 80px;
}
.content.balance_check .text-wrap{
	font-size: 18px;
	margin-top: 20px;
	flex-wrap : wrap;
	width: 100%;
	text-align: center;
}
.content.balance_check .text-wrap > span{
	font-size: 20px;
	color: red;
}
.content.balance_check .text-wrap.accountNum{
	width: 100%;
	text-align: center;
}
