<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- property 없이 의존관계를 자동으로 autowire= byType은 class type을 뜻함 -->
	<bean name="byTypeClient" class="com.varxyz.jvx330.di.example4.ex2.ByTypeClient" autowire="byType"/>
	
	<bean name="jmsNamingService" class="com.varxyz.jvx330.di.example4.ex2.JmsNamingServiceImpl"/>
	<bean name="dmsNamingService" class="com.varxyz.jvx330.di.example4.ex2.DmsNamingServiceImpl"/>
	
</beans>
